.adminContainer {
  width: 100%;
  min-height: 100vh;
  background-color: hsl(219, 48%, 8%);

  display: flex;
  justify-content: center;
  align-items: center;
}

.adminBox {
  width: 100%;
  max-width: 1200px;
  min-height: 100vh;
  background-color: #f1f1f1;
}
.adminBox > h4 {
  display: flex;
  letter-spacing: 14px;
  margin: 2vmax;
  transform: translateY(-100vw);
  animation: contactFormInputAnimations 1s ease-in-out forwards 0.5s;
  justify-content: center;
}
.adminBox > h4 > p {
  transition: all 0.5s;
}

.adminBox > h4 > p:hover {
  transform: translateY(-10px);
}
.adminBox > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4vmax;
  padding-top: 0;
}
.adminInputs {
  width: 50%;
  padding: 1vmax 2vmax;
  border: 1px solid #ccc;
  border-radius: 50px;
  font: 100 1rem "Roboto", sans-serif; /* font: font-style font-weight font-size line-height font-family */
  outline: none;
  margin: 2vmax;
  box-sizing: border-box;
}

.adminSkills {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#skillName {
  padding: 0.75rem;
  outline: none;
  border: none;
  background-color: #23e9be;
  border-radius: 25px;
  margin-right: 1rem;
  color: white;
}
.adminSkills > div {
  display: flex;
  align-items: center;
  margin: 2vmax;
}
.adminSkills > div > p {
  font: 400 1.4rem "Roboto", sans-serif;
  margin-right: 2vmax;
  color: rgba(24, 24, 24, 0.815);
}

.adminFileUpload::-webkit-file-upload-button {
  width: 100%;
  border-radius: 25px;
  padding: 1vmax;
  color: white;
  cursor: pointer;
  background-color: #23e9be;
  font: 100 1rem "Roboto", sans-serif;
  border: none;
}

.adminBox > form > a {
  background-color: #fafafa;
  padding: 2vmax;
  font: 400 2rem "Roboto", sans-serif;
  color: rgb(44, 44, 44);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  margin: 2vmax;
  transition: all 0.5s;
}
.adminBox > form > a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.212);
  transform: scale(1.1);
}
.adminBox > form > button {
  width: 50%;
  padding: 1vmax;
  margin: 2vmax;
  background-color: hsl(219, 48%, 8%);
}
.adminBox > form > button:hover {
  background-color: hsl(221, 48%, 20%);
}
