.heading {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  margin-left: 5rem;
}

.heading > h1 {
  font-size: 4rem;
  font-weight: 900;
  font-family: monospace;
  letter-spacing: 5px;
  transform: translateX(-100vw);
  animation: headingAnimation 1s linear forwards;
}
.heading > p {
  text-transform: uppercase;
  word-spacing: 3px;
  font-weight: 500;
  margin-top: 0.7rem;
  transform: translateY(-100vh);
  animation: paraAnimation 1s linear forwards;
}
.homeContainer {
  background-color: white;
  padding-top: 4vmax;
  border-radius: 0 0 200px 200px;
  border-bottom: 200px solid white;
  position: relative;
  z-index: 1;
}

.homeContainer > h3 {
  text-align: center;
  color: rgb(63, 63, 63);
}
.skillBox {
  /* height: 1500px; */
  height: 150vh;
  position: relative;
  padding: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  perspective: 450px;
  overflow-x: hidden;
  background-color: hsl(162.17deg 48.45% 20.26%);
  transform: translateY(-190px);
  margin-bottom: -200px;
}

.skillBox > h3 {
  text-align: center;
  margin-bottom: 4vmax;
  color: white;
  font-size: 4vmax;
}
.skillCube {
  height: 100px;
  width: 100px;
  animation: cubeRotation 15s linear infinite alternate;
  transform-style: preserve-3d;
}

.cubeShadow {
  height: 40px;
  width: 300px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.171);
  animation: cubeShadow 2s ease-in-out infinite alternate;
  filter: blur(3px);
}
.cubeSkillFaces {
  display: flex;
  justify-content: center;
  align-content: center;
  box-shadow: 0 0 10px rgb(0, 0, 0);
  position: absolute;
  height: inherit;
  width: inherit;
  opacity: 0.7;
}
.cubeSkillFaces > img {
  height: 150px;
  width: 150px;
}

.cubeSkillFace1 {
  transform: translate3d(0, 0, 100px);
}

.cubeSkillFace2 {
  transform: rotateY(180deg) translate3d(0, 0, 100px);
}
.cubeSkillFace3 {
  transform: rotateY(-90deg) translate3d(0, 0, 100px);
}
.cubeSkillFace4 {
  transform: rotateY(90deg) translate3d(0, 0, 100px);
}
.cubeSkillFace5 {
  transform: rotateX(90deg) translate3d(0, 0, 100px);
}
.cubeSkillFace6 {
  transform: rotateX(-90deg) translate3d(0, 0, 100px);
}

.skillsBar {
  background-color: hsl(250, 100%, 75%);
  padding: 0 2vmax;
  position: absolute;
  display: flex;
  flex-direction: column;
  right: -300px;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  top: 22%;
  height: 60%;
  justify-content: space-between;
}
.skillsBar > svg {
  font-size: 5vmax;
  color: white;
  transition: all 0.5s;
  margin: 9px;
}
.skillsBar > svg:hover {
  transform: scale(1.3);
}

@keyframes headingAnimation {
  to {
    transform: translateX(0);
  }
}
@keyframes paraAnimation {
  to {
    transform: translateY(0);
  }
}
@keyframes cubeRotation {
  to {
    transform: rotateY(360deg) rotateX(480deg) rotateZ(720deg);
  }
}

@keyframes cubeShadow {
  to {
    transform: scale(1.1) translateY(-10px);
  }
}

@keyframes skillsBarAnimationOn {
  from {
    right: -300px;
  }
  to {
    right: 20px;
  }
}
@keyframes skillsBarAnimationOff {
  from {
    right: 20px;
  }
  to {
    right: -330px;
  }
}
/* @media screen and (max-width: ) {
} */
