.heading {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  margin-left: 5rem;
}

.heading > h1 {
  font-size: 4rem;
  font-weight: 900;
  font-family: monospace;
  letter-spacing: 5px;
  transform: translateX(-100vw);
  animation: headingAnimation 1s linear forwards;
}
.heading > p {
  text-transform: uppercase;
  word-spacing: 3px;
  font-weight: 500;
  margin-top: 0.7rem;
  transform: translateY(-100vh);
  animation: paraAnimation 1s linear forwards;
}
.homeContainer {
  background-color: white;
  padding-top: 4vmax;
  border-radius: 0 0 200px 200px;
  border-bottom: 200px solid white;
  position: relative;
  z-index: 1;
}

.homeContainer > h3 {
  text-align: center;
  color: rgb(63, 63, 63);
}
.skillContainer {
  position: relative;
  padding: 50px;
  box-sizing: border-box;
  overflow-x: hidden;
  transform: translateY(-100px);
}

.skillContainer > h3 {
  text-align: center;
  margin-bottom: 4vmax;
  color: white;
  font-size: 4vmax;
}
.skillBox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2.5rem;
  justify-items: center;
}
.skillBox > div {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
}
.skillList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
  margin-top: 1rem;
}
@keyframes headingAnimation {
  to {
    transform: translateX(0);
  }
}
@keyframes paraAnimation {
  to {
    transform: translateY(0);
  }
}

@media screen and (max-width: 1000px) {
  .skillBox {
    grid-template-columns: 1fr;
  }
  .skillBox > div {
    margin-bottom: 20px;
  }
}
